[Unit]
Description=The Luna Next WebApp manager
After=luna-next.service

[Service]
Type=simple
EnvironmentFile=-/etc/luna-next/qtwebengine.conf 
ExecStart=/usr/sbin/LunaWebAppManager --verbose --allow-file-access-from-files
Restart=always

[Install]
WantedBy=multi-user.target
