[Unit]
Description=The Luna Next WebApp manager
After=luna-next.service

[Service]
Type=simple
ExecStart=/usr/sbin/LunaWebAppManager --verbose --allow-file-access-from-files --disable-namespace-sandbox --disable-seccomp-filter-sandbox
Restart=always

[Install]
WantedBy=multi-user.target
