[Unit]
Description=The Luna Next WebApp manager
After=luna-next.service
Requires=luna-next.service

[Service]
Type=simple
ExecStart=/usr/sbin/LunaWebAppManager
Restart=always

[Install]
WantedBy=multi-user.target
