build/
*.user
*.moc
moc_*
*.swp
Makefile
*.cmake
CMakeFiles/
CMakeCache.txt
*.qrc.depends
*_automoc.cpp
qrc_*
*.so
install_manifest.txt
src/luna-webappmanager
luna-webappmanager.config
luna-webappmanager.creator
luna-webappmanager.creator.user
luna-webappmanager.files
luna-webappmanager.includes
